.musicSection {
    text-align: center;
    /* TODO: NEED TO REMOVE THIS HEIGHT */
    padding-bottom: 5rem;
}


.musicSection>h2 {
    color: white;
    font-size: 3em;
    font-weight: 400;
}

.listOfAllMusicCards {
    display: flex;
    gap: 4em;
    padding: 1.5em;
    flex-wrap: wrap;
    justify-content: center;
}