.musicSection {
    text-align: center;
    padding-top: 5em;
    height: 200vh;
    background-color: transparent;
}

.musicSection > h2 {
    color: white;
    font-size: 3em;
    font-weight: 400;
}
.officialMerchComponent {
    display: flex;
    gap: 4em;
    flex-wrap: wrap;
    padding: 1.5em;
}