.musicSection {
    text-align: center;
    padding-top: 5em;
    background-color: transparent;
    padding-bottom: 5rem;
}

.musicSection>h2 {
    color: white;
    font-size: 3em;
    font-weight: 400;
}

.officialMerchComponent {
    display: flex;
    gap: 4em;
    padding: 1.5em;
    flex-wrap: wrap;
    justify-content: center;
}