.cardContainer {
    height: 26em;
    width: 20vw;
    min-width:26em;
    background: #FFFFFF;
    background: rgba(255, 255, 255, 1);
    border-radius: 23px;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    position: relative;
    user-select: none;

}

.cardContainer > img {
    width: 100%;
    object-fit: cover;
    height: 80%;
    border-radius: 23px;

}





.overlay {
    top: 0;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    opacity: 0;
    transition: all linear 0.2s;
    border-radius: 23px;
    color: white;
    padding-top: 6em;

}

.overlay > p {
    font-size: 2em;
}

.overlay > button {
    padding-inline: 3em;
    padding-block: 1em;
    background: rgb(170, 0, 0);
    color: white;
    border-radius: 10px;
    margin-top: 2em;
    cursor: pointer;
}

.overlay:hover {
    opacity: 1;
}