.tourSection {
    padding-top: 6rem;
    text-align: center;
    padding-bottom: 6rem;
    background: rgba(0, 0, 0, 0.7);
}

.tourSection>h2 {
    font-size: 5em;
    color: white;
    font-weight: 500;
    margin: 0 auto;
}

.tourSection>p {
    padding-inline: 8em;
    color: white;
    font-size: 1.7em;
}

.tourCardHolder {
    padding-top: 3em;
    display: grid;
    justify-items: center;
    gap: 2em;
}

.allTourLink {
    background: #C51D36;
    width: 12vw;
    height: 2em;
    align-items: center;
    display: flex;
    color: white;
    justify-content: space-between;
    border-radius: 0.3em;
    padding-left: 1.2em;
    font-size: 1.4em;
    cursor: pointer;
}
.allTourLink > i{
    background-color: #991D36;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3em;

}